@{
    ViewBag.Title = "Home Page";
}

<main align="center">
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Bienvenido</h1>
        <p class="lead">Esta es una aplicación para crear encuestas</p>
        <div>
            @Html.ActionLink("¡Crea tu encuesta Aquí!»", "Index", "Encuesta", null, new { @class = "btn btn-primary btn-md" })
        </div>
    </section>

    <div class="row">

    </div>
</main>